@{
    ViewData["Title"] = "Home Page";
}

<form action="@Url.Action("Game", "Home")">
    @*<fieldset>
        <legend>Game Type</legend>
        <input type="button" class="game-type" value="Collaborative" onclick="orbs.selectGameType(1);" />
        <input type="button" class="game-type" value="Competitive" onclick="orbs.selectGameType(2);" />
    </fieldset>
    <fieldset>
        <legend>Number of Players</legend>
        <input type="button" class="players" value="1" onclick="orbs.selectPlayerNumber(1);" />
        <input type="button" class="players" value="2" onclick="orbs.selectPlayerNumber(2);" />
        <input type="button" class="players" value="3" onclick="orbs.selectPlayerNumber(3);" />
        <input type="button" class="players" value="4" onclick="orbs.selectPlayerNumber(4);" />
    </fieldset>*@
    <input type="submit" value="Play" />
</form>